.welcome-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 500px;
    background-color: #dff3ea;
    padding: 20px;
    position: relative;
}

.slogan-box {
    position: relative;
}

.slogan {
    font-family: 'Aboreto', cursive;
    font-size: 32px;
    text-decoration: none;
    color: #333;
    margin: 125px 0 0 250px;
}

.slogan-detail {
    font-family: 'Anuphan', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 10px 0 0 250px;
}

.discover-btn {
    font-family: 'Aboreto', cursive;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 15px 0 0 240px;
}

.discover-btn i {
    font-size: 16px;
}

.show-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

.circle {
    width: 380px;
    height: 380px;
    background-color: #F9FFEF;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateY(-50%);
}

.product-image {
    position: absolute;
    z-index: 1;
}

/* รูปเกาอี้ */
.product-image:nth-child(2) {
    width: 320px;
    height: auto;
    bottom: 20px;
    left: 220px;
    z-index: 2;
}

/* รูปโคมไฟ */
.product-image:nth-child(3) {
    width: 330px;
    height: auto;
    bottom: 90px;
    right: 120px;
}

/* รูปโต๊ะ*/
.product-image:nth-child(4) {
    width: 250px;
    height: auto;
    bottom: 90px;
    left: 150px;
}





